@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #121212;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: 2px solid white;
}

.header h1 {
  font-size: 2.2rem;
  letter-spacing: 1.5px;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cell-container {
  width: 25vw;
  height: 55vh;
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: grid;
  grid-gap: 0.5rem;
}

.cell-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.cell {
  width: 20%;
  border: 2px solid #9e9e9e;
  background-color: #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
}

.chars-container {
  display: flex;
  color: white;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.char,
.enter-btn,
.return-btn {
  width: 3rem;
  height: 4rem;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-btn {
  width: 5rem;
}

.char,
.enter-btn,
.return-btn {
  font-size: 1.5rem;
}

.btn {
  transition: transform 0.1s;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #4b4b4b;
  border: 1px solid #000000;
}

.enter-btn:hover {
  background-color: #008100;
  border: 1px solid #000000;
}

.return-btn:hover {
  background-color: #be0000;
  border: 1px solid #000000;
}
